body {
    background: #fff;
    color: rgb(58, 62, 66);
    font-family: -apple-system, system-ui, sans-serif;
    font-size: 14px;
    line-height: 1.4em;
    cursor: inherit;
    margin: 0;
}

.workspace {
    display: flex;
}

.sidebar {
    background: rgb(249, 250, 250);
    padding: 5vw;
    user-select: none;
    -webkit-user-select: none;
    flex: 0 0 20vw;
    min-height: 100vh;
}

.area {
    font-weight: 400;
    margin-bottom: 1em;
}

.area__title {
    cursor: pointer;
    padding: 0.1em 0.4em;
}

.project {
    font-weight: 300;
    cursor: pointer;
    padding: 0.1em 0.4em;
}

.selected {
    background: rgb(226, 228, 230);
    border-radius: 0.25em;
}

.content {
    padding: 5vw;
}

.tasks {
    
}

.task {
    line-height: 2em;
}

.cancelled {
    color: rgb(130, 135, 141);
    text-decoration: line-through;
}

.completed {
    color: rgb(130, 135, 141);
}